@charset "utf-8";
body{
	font-family: "微软雅黑", sans-serif, Arial; margin-bottom:20px;
}
.indexbg{
	background-color: #FFF;
	background-image: url(../images/index_bg.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}
.text-red{color:#ff0000;}a.text-red:hover{color:#ff0000;}
.pic-preview{width:150px;; margin-left:5px; float:left;}
.jiange-l{margin-left:10px;}
.jiange-r{margin-right:10px;}

.e_tForm_upload{width: 313px; overflow: hidden; border: 1px solid #E0E0E0; background: #fff;}
.e_tForm_uploadBtn{height: 35px; line-height: 0px; border-bottom: 0px solid;}
.e_tForm_uploadBtn input[type="button"]{
    width: 60px; height: 25px; border: none; background: url(../images/icon/uploadBtn_bg.jpg) 0 center no-repeat;
    text-indent: 25px; margin:5px 0 0 15px;
}
.e_tForm_uploadImgs{width: 293px; padding: 10px; overflow: hidden; line-height: 68px;}
.e_tForm_uploadImgs ul li{height: 68px; line-height: 68px; float: left; overflow: hidden;}
.del_uploadImgs{cursor: pointer; color: #349ACA;}

